.singleBlog {
  flex: 9;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
  }

  &__title {
    text-align: center;
    margin: 10px;
    font-size: 40px;

    &--input {
      text-align: center;
      margin: 10px;
      font-size: 40px;
      border: none;
      border-bottom: 1px solid lightgrey;
      color: gray;

      &:focus {
        outline: none;
      }
    }
  }

  &__desc {
    color: #666;
    font-size: 22px;
    line-height: 30px;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;

    &::first-letter {
      margin-left: 20px;
      font-size: 34px;
      font-weight: 600;
    }

    &--input {
      border: none;
      color: #666;
      font-size: 22px;
      line-height: 30px;
      font-family: "Varela Round", Arial, Helvetica, sans-serif;

      &:focus {
        outline: none;
      }
    }
  }
}

.singleBlogEdit {
  float: right;
  font-size: 20px;
}

.singleBlogIcon {
  margin-left: 10px;
  cursor: pointer;

  &:first-child {
    color: teal;
  }

  &:last-child {
    color: tomato;
  }
}
